<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Blockchain</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/blockchain?username=<%=username%>"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/blockchain/transfer?username=<%=username%>"
                >Transfer</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/blockchain/link?username=<%=username%>"
                >Link Discord Account!</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/blockchain/badges?username=<%=username%>"
                >Your Badges</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="http://localhost:3000/curency?username=<%=username%>"
                >Curency</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/blockchain/profile?username=<%=username%>"
                >Your Profile</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/games?username=<%=username%>"
                >Games</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="http://localhost:3000/blockchain/battlepass?username=<%=username%>"
                >Battlepass</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/blockchain/Daily Reward?username=<%=username%>"
                >Daily Reward</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Crypto
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href=""
                    >Ethm: This Function Not Working on This Page
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="">Report Bug (COMING SOON)</a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/blockchain/shop?username=<%=username%>"
                    >Shop</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/blockchain/earn_ethm?username=<%=username%>"
                    >Earn Ethm</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body></body>
</html>
