<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<style>
    
</style>
<body class="bg-dark"> 
  <nav class="navbar navbar-expand-lg bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Blockchain</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/blockchain?username=<%=username%>">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/blockchain/transfer?username=<%=username%>">Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/blockchain/badges?username=<%=username%>">Your Badges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://localhost:3000/curency?username=<%=username%>">Curency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/blockchain/profile?username=<%=username%>">Your Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/blockchain/link?username=<%=username%>">Link Discord Account!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/games?username=<%=username%>">Games</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Crypto 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Ethm: <%=ethm%></a></li>
              <li><a class="dropdown-item" href="">Report Bug (COMING SOON)</a></li>
              <li><a class="dropdown-item" href="/blockchain/shop?username=<%=username%>">Shop</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/blockchain/earn_ethm?username=<%=username%>">Earn Ethm</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <style>

            .rainbow-hover {
                font-size: 16px;
                font-weight: 700;
                color: #ff7576;
                background-color: #2B3044;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 12px 24px;
                position: relative;
                line-height: 24px;
                border-radius: 9px;
                box-shadow: 0px 1px 2px #2B3044,
                  0px 4px 16px #2B3044;
                transform-style: preserve-3d;
                transform: scale(var(--s, 1)) perspective(600px)
                  rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
                perspective: 600px;
                transition: transform 0.1s;
              }
              .rainbow-hover:hover {
                font-size: 16px;
                font-weight: 700;
                color: #ff7576;
                background-color: #333d66;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 12px 24px;
                position: relative;
                line-height: 24px;
                border-radius: 9px;
                box-shadow: 0px 1px 2px #2B3044,
                  0px 4px 16px #2B3044;
                transform-style: preserve-3d;
                transform: scale(var(--s, 1)) perspective(600px)
                  rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
                perspective: 600px;
                transition: transform 0.1s;
              }              
              
              .sp {
                background: linear-gradient(
                    90deg,
                    #866ee7,
                    #ea60da,
                    #ed8f57,
                    #fbd41d,
                    #2cca91
                  );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                display: block;
              }
              
              .rainbow-hover:active {
                transition: 0.3s;
                transform: scale(0.93);
              }
    </style>
    <body>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100 ">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center ">
          
                      <div class="mb-md-5 mt-md-4 pb-5">
          
                        <h2 class="fw-bold mb-2 text-uppercase">Transfer Ethm</h2>
                        <p class="text-white-50 mb-5">Transfer Ethm To Your Family And Friends</p>
                        <form action="http://localhost:3000/blockchain/transfer?username=<%=username%>" method="POST">
                          <div class="form-outline form-white mb-4">
                            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="user_transfer" />
                            <label class="form-label" for="typeEmailX">Your Friend Name</label>
                          </div>
            
                          <div class="form-outline form-white mb-4">
                            <input type="number" id="typePasswordX" class="form-control form-control-lg" name="sum" />
                            <label class="form-label" for="typePasswordX">Ethm</label>
                          </div>

                          <div class="form-outline form-white mb-4">
                            <input type="number" id="typePasswordX" class="form-control form-control-lg" name="sec_code" />
                            <label class="form-label" for="typePasswordX">Your Security Code</label>
                          </div>
            
                    
            
                          <button data-label="Register" class="rainbow-hover" type="submit">
                              <span class="sp">Transfer</span>
                            </button>
                        </form>
                        
          
                    
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>



 
    
</body>
</html>